<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
        <!-- 注解扫描激活 
        	整合的步骤 mybatis->spring->springMVC
        -->
       	<mvc:annotation-driven></mvc:annotation-driven>
        
        <!-- 静态资源的路径访问设置使用‘/’ -->
        <mvc:default-servlet-handler/>
        
        <!-- 视图解析器 -->
        <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        	<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
        	<property name="prefix" value="/WEB-INF/jsp/"/>
   			<property name="suffix" value=".jsp"/>
        </bean>
        
        <!-- 包扫描 -->
        <context:component-scan base-package="org.seckill.web"></context:component-scan>
</beans>